.scroll-content {
  position:absolute;
  top:0;
  left:0
}
.slider-wrap {
  position:absolute;
  right:0;
  top:0;
  background-color:#fff;
  width:10px;
}
.slider-vertical {
  position:relative;
  height:100%
}
.ui-slider-handle {
  width:5px;
  height:10px;
  margin:0 auto;
  background-color:darkgray;
  display:block;
  position:absolute;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
 -webkit-transition: opacity 600ms ease-in-out;
	-moz-transition: opacity 600ms ease-in-out;
	  -o-transition: opacity 600ms ease-in-out;
		 transition: opacity 600ms ease-in-out;
}
.scroll-pane:hover .ui-slider-handle {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.ui-slider-handle img {
  border:none
}
.scrollbar-top {
  position:absolute;
  top:0;
}
.scrollbar-bottom {
  position:absolute;
  bottom:0;
}
.scrollbar-grip {
  position:absolute;
  top:50%;
  margin-top:-6px;
}
.ui-slider-range {
  position:absolute;
  width:100%;
  background-color:#fff;
}
